Angelina Wischounig <angelina.wischounig@gmail.com>
Thomas Stuhlpfarrer <thomasstu@edu.aau.at>
Mario Dittrich <Mario@mariodittrich.com>
Elias <eliaswa@edu.aau.at>
Tea <tegajic@edu.aau.at>
Stefan Dan Resmerita <stefandanresmerita@gmail.com>
